class Base(object):
    TXTLIST_PTAH = '/path/to/gfwlist.txt'
    G2D_PTAH = '/path/to/gfwlist2dnsmasq/gfwlist2dnsmasq.py' # https://github.com/fpfeng/gfwlist2dnsmasq

class Test(Base):
    SERVER_NAME = 'localhost'

class Dev(Base):
    DEBUG = True

class Product(Base):
    pass


configs = {
    'product': Product,
    'test': Test,
    'dev': Dev,
}
