<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>g2w.online</title>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/github-fork-ribbon-css/0.2.1/gh-fork-ribbon.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='cover.css') }}">
  </head>
  <body>
    <a class="github-fork-ribbon right-top" href="https://github.com/fpfeng/g2w.online" title="Fork me on GitHub">Fork me on GitHub</a>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container" id="app">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">功夫网列表转换</h3>
              <nav>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            {% raw %}
            <template v-for="option in radioOptions">
            <label class="custom-control custom-radio">
              <input v-model="outputOption" v-bind:value=option.value type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"  v-bind:style="{ color: outputOption != '' && outputOption != option.value ? '#555' : 'white' }">{{ option.title }}</span>
            </label>
            </template>
            {% endraw %}
            </div>

          <div class="text-center">
            <form class="form-inline centered" style="display: inline-block;" v-show="outputOption == 'pac'">
                <select v-model="pacArgs.type" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                    <option value="s">socks/socks5</option>
                    <option value="h">http/https</option>
                </select>
                <input style="width: 200px;" v-model="pacArgs.addr" placeholder="代理地址" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 addr-input">
                <input style="width: 100px;" v-model="pacArgs.port" placeholder="代理端口" type="text" class="form-control mb-1 mr-sm-1 mb-sm-0 port-input">
            </form>
            <form class="form-inline centered" style="display: inline-block;" v-show="outputOption == 'ipset'">
                <input v-model="ipsetArgs.name" placeholder="ipset名称" style="width: 150px;" class="form-control">
                <input v-model="ipsetArgs.addr" placeholder="代理地址" style="width: 200px;" class="form-control">
                <input v-model="ipsetArgs.port" placeholder="代理端口" style="width: 100px;" class="form-control">
            </form>

            <form class="form-inline centered" style="display: inline-block;" v-show="outputOption == 'dnsq'">
                <input style="width: 200px;" v-model="dnsqArgs.addr" placeholder="代理地址" class="form-control mb-2 mr-sm-2 mb-sm-0">
                <input style="width: 100px;" v-model="dnsqArgs.port" placeholder="代理端口" class="form-control mb-2 mr-sm-2 mb-sm-0">
            </form>

            <div style="display: inline-block; width: 300px;" v-show="outputOption == 'potatso'">
            </div>
          </div>
            <div v-bind:style="{ marginTop: outputOption == 'potatso' ? '-20px' : '10px' }">
              {% raw %}
              <strong>
                <a class="output-a text-danger" v-bind:href="downloadUrl" v-show="outputOption">{{ downloadUrl }}</a>
              </strong>
              {% endraw %}
            <div style="margin: 10px;" v-show="outputOption == 'potatso'">
            <qrcode :val="downloadUrl" :size="size" :bg-color="bgColor" :fg-color="fgColor" level="L"></qrcode>
            </div>
              <p class="tips" v-show="outputOption" style="margin-top: 10px; color: #666;">
              在你本地保存以上链接(定时更新之类)，随时访问，随时下载，不需要再来这里生成。当参数输入错误时，服务器会返回404错误。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="//cdn.bootcss.com/vue/2.3.2/vue.min.js"></script>
    <script src="https://oc6029ro6.qnssl.com/static/vue-qrcode.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        components: {
          qrcode: VueQr
        },
        data: {
          radioOptions: [
            {'value': 'pac', 'title': 'pac'},
            {'value': 'dnsq', 'title': 'dnsmasq'},
            {'value': 'ipset', 'title': 'dnsmasq + ipset'},
            {'value': 'potatso', 'title': 'potatso'},
          ],
          outputOption: '',
          pacArgs: {
            'type': 's',
            'addr': '127.0.0.1',
            'port': 1024
          },
          dnsqArgs: {
            'addr': '127.0.0.1',
            'port': 1024
          },
          ipsetArgs: {
            'name': 'tsilwfg',
            'addr': '127.0.0.1',
            'port': 1024
          },
          potatsoArgs: {
            'file': 'rules.conf',
          },
          bgColor: "yellow",
          fgColor: "#666",
          size: 180,
        },
        computed: {
          downloadUrl: function() {
            base = 'https://g2w.online/' + this.outputOption + '/'
            if (this.outputOption == 'pac') {
              return base + this.pacArgs.type + ',' + this.pacArgs.addr + ':' + this.pacArgs.port
            } else if (this.outputOption == 'dnsq') {
              return base + this.dnsqArgs.addr + ':' + this.dnsqArgs.port
            } else if (this.outputOption == 'ipset') {
              return base + this.ipsetArgs.name + ',' + this.ipsetArgs.addr + ':' + this.ipsetArgs.port
            } else if (this.outputOption == 'potatso' && this.potatsoArgs.file) {
              return base + this.potatsoArgs.file
            }
          }
        }
      })
    </script>
  </body>
</html>
