
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>g2w.online</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='cover.css') }}">

  </head>

  <body>
<a href="https://github.com/fpfeng/g2w.online"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">功夫网列表转换</h3>
              <nav>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <p>选择输出</p>
            <div class="radio-group list-radio">
              <label class="radio-inline"><input class="show-btn" id="pac" type="radio" name="optradio">pac</label>
              <label class="radio-inline"><input class="show-btn" id="dnsq" type="radio" name="optradio">dnsmasq</label>
              <label class="radio-inline"><input class="show-btn" id="ipset" type="radio" name="optradio">dnsmasq + ipset</label>
            </div>

            <div class="input-group to-hide pac-input" type="pac">
                <select class="form-control pac-type">
                    <option value="s">socks/socks5 类型</option>
                    <option value="h">http/https 类型</option>
                </select>
                <span class="input-group-addon" title="IP">代理IP:</span>
                <input class="form-control pac-addr" value="127.0.0.1">
                <span class="input-group-addon">代理端口:</span>
                <input class="form-control pac-port" value="1080">
            </div>
            <div class="input-group to-hide ipset-input" type="ipset">
                <span class="input-group-addon" title="IP">ipset名称:</span>
                <input class="form-control ipset-name" value="tsilwfg">
                <span class="input-group-addon" title="IP">代理IP:</span>
                <input class="form-control ipset-addr" value="127.0.0.1">
                <span class="input-group-addon">代理端口:</span>
                <input class="form-control ipset-port" value="1080">
            </div>

            <div class="input-group to-hide dnsq-input" type="dnsq">
                <span class="input-group-addon" title="IP">代理IP:</span>
                <input class="form-control dnsq-addr" value="127.0.0.1">
                <span class="input-group-addon">代理端口:</span>
                <input class="form-control dnsq-port" value="1080">
            </div>

            <div class="gen-btn-wrap" style="margin: 20px 0;">
              <button class="gen-btn btn btn-primary">生成链接</button>
            </div>

            <div>
              <strong><a class="output-a text-danger" href='#' style="display: none;"></a></strong>
              <p class="tips" style="display: none; margin-top: 10px;">在你本地保存以上链接(定时更新之类)，随时访问，随时下载，不需要再来这里生成。当参数输入错误时，服务器会返回404错误。</p>
            </div>

          </div>


        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
          $('.gen-btn').hide();
          $('.to-hide').hide();
          $('.show-btn').click(function() {
            var to_show_div = '.' + $(this).prop('id') + '-input';
            $('.to-hide').hide().removeClass('gen-me');
            $(to_show_div).show().addClass('gen-me').prop('gen-type', 'xx');;
            $('.gen-btn').show();
          });
        });

        function editLink(url) {
          $('.output-a').prop('href', url).text(url).show();
          $('.tips').show();
        };


        $(document).on('click', '.gen-btn', function() {
            var div = $('.gen-me');
            var type = $(div).attr('type');
            var addr = $('.' + type + '-addr').val();
            var port = $('.' + type + '-port').val();
            if (type == 'pac') {
              var ptype = $('.pac-type').val();
              editLink('https://g2w.online/pac/' + ptype + ',' + addr + ':' + port);
            } else if (type == 'ipset') {
              var name = $('.ipset-name').val();
              editLink('https://g2w.online/ipset/' + name + ',' + addr + ':' + port);
            } else if (type == 'dnsq') {
              editLink('https://g2w.online/dnsq/' + addr + ':' + port);
            }
        });
    </script>
  </body>
</html>
